body {
    background-color: white;
  }
  
  h1 {
    color: navy;
    margin-left: 30px;
  }
  a {
    color: darkblue
  }
  p:hover{
    background-color: yellow;
  }
@media only screen and (max-width: 600px) {
  body{
    background-color: beige;
  }
}
.important {
  background-color: blue;
}
.parasite {
  background-color: aqua;
}
#tim {
  background-color: beige;
}